
                <!-- BEGIN PAGE HEADER-->
                <h1 class="page-title"> {{(status==200||status==201)? 'Set' : 'Reset'}} Password Player
                </h1>
                <div class="page-bar" ng-controller="forgotPasswordController">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a ui-sref="dashboard">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <span>{{(status==200||status==201)? 'Set' : 'Reset'}} Password Player</span>
                        </li>
                    </ul>
                </div>
                <!-- END PAGE HEADER-->
                <div class="row">
                    <div class="col-md-12">

                        <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject font-dark sbold uppercase">{{(status==200||status==201)? 'Set' : 'Reset'}} Password Player</span>
                                    </div>
                                    
                                </div>
                                <div class="portlet-body form">
                                    <form class="form-horizontal" role="form" name="generateBonusForm">
                                        <div class="form-body">
                                            <div class="form-group" ng-if="status==200">
                                                <label class="col-md-12"><strong>Your Email Id has been verified, now set your first password here.</strong></label>
                                            </div>
                                            <div class="form-group" ng-if="status==201">
                                                <label class="col-md-12"><strong>Set your first password here.</strong></label>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : generateBonusForm.bonusCodeName.$invalid && !generateBonusForm.bonusCodeName.$pristine}">
                                                <label class="col-md-3 control-label">Enter New Password :</label>
                                                <div class="col-md-9">
                                                    <input type="password"  name="bonusCodeName" class="form-control input-inline input-medium" ng-model= "passwordPlayer" required>
                                                    <p ng-show="generateBonusForm.bonusCodeName.$invalid && !generateBonusForm.bonusCodeName.$pristine" class="help-block">Password must contain atleast 6-25 characters.</p>
                                                </div>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : generateBonusForm.newPassword.$invalid && !generateBonusForm.newPassword.$pristine}">
                                                <label class="col-md-3 control-label">Confirm Password :</label>
                                                <div class="col-md-9">
                                                    <input type="password"  name="newPassword" class="form-control input-inline input-medium" ng-model= "newPasswordPlayer" required>
                                                    <p ng-show="generateBonusForm.newPassword.$invalid && !generateBonusForm.newPassword.$pristine" class="help-block">Password must contain atleast 6-25 characters.</p>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn green"  ng-disabled="generateBonusForm.$invalid" ng-click="resetPasswordPlayer()">Submit</button>
                                                    <!-- <button type="button" class="btn default" ui-sref="listBonusDeposit">Cancel</button> -->
                                                </div>

                                            </div>
                                        </div>
                                           
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->

                    </div>
                </div>
            